*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
}
.layar-dalam {
  width: 1000px;
  margin: auto;
  color: #ffffff;
}  
.background{
    position: relative;
    /*margin-top: -10%;*/
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}
.background img{
    position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   z-index: -2;
}
.background .overlay{
    position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: #12282b;
   opacity: 60%;
   z-index: -1;
   
}
nav .keterangan{
    z-index: 5;
    color: #ffffff;
    position: absolute;
    margin: 50px;
    top: 0px;
    padding: 120px;
}
nav .keterangan H1{
    font-size: 50px;
    margin: 0;
    padding: 10px;
}
nav .keterangan p{
  padding: 10px;
  font-size: 16px;
}
.keterangan .email-button{
    background-color: rgb(0, 157, 168);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}
footer{
    padding: 50px 0px 50px 0px;
    background-color: #343a40;
    color: #fff;
  }
    .container{
      max-width: 1100px;
      margin: 0 auto;
      
    }
    .row{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .col{
      flex: 1;
      text-align: left;
    }
    .col p{
      padding-right: ;
    }
    .ikontext{
      display: flex;
      align-items: center;
      padding: 4px;
    }
    .ikon{
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
    footer .kontak{
      color: rgb(255, 25, 25);
      font-weight: bold;
     }
     footer .kontak:hover{
      color: rgb(189, 39, 39);
     }
    footer h5{
      margin-top: 0px;
      font-size: 20px;
      font-weight: bold;
    }
    footer  img{
      width: 30px;
      height: 30px;
      margin-right: 5px;
     }
     footer  a .text{
      position: relative;
      top: -10px;
     }
     footer a .text:hover{
      text-decoration: underline;
     }
     footer a{
      text-decoration: none;
      color: #fff;
     }
     footer .layar-dalam .copyright{
      width: 100%;
      margin-top: 30px;
      padding-top: 30px;
      border-top: 1px solid #666;
      text-align: center;
    }
  .sitemap a:hover{
    font-size: 16px;
  }
  .sitemap a:active{
    color: rgb(213, 213, 213);
  }
  .sitemap ul{
    max-height: 100px;
    overflow-x: hidden;
    width: 80px;
    position: relative;
    right: 20px;
  }
  @media screen and (max-width: 768px) {
    .layar-dalam{ 
    width: 50%;
    }
     footer{
      padding: 20px;
      padding-left: 10px;
     }
     .row{
      display: block;
      justify-content: space-between;
      
     }
     .col {
      flex: 1;
      text-align: left;
      padding: 20px;
     }
     .sitemap{
      flex: 1;
      text-align: left;
      padding: 20px;
      padding-top: 30px;
     }
     .col a{
     position: relative;
     top: -20px;
     }
     .col p{
      position: relative;
      top: -20px;
     }
     .ikontext{
      position: relative;
      top: -16px;
    
     }
     nav .keterangan{
      z-index: 5;
      color: #ffffff;
      position: absolute;
      /*top: 50%;*/
      margin: 50px;
      top: 100px;
      padding: 0px;
     }
     nav .keterangan H1{
      font-size: 30px;
      margin: 0;
      padding: 0;
     }
      nav .keterangan p{
        padding: 0;
        font-size: 15px;
     }
     .background{
      height: 50vh;
      
      
  }
     
 }
