*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
}
.layar-dalam {
    width: 1000px;
    margin: auto;
    color: #ffffff;
}  
.layar-penuh{
    width: 100%; 
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  background-color: #ffffff;
  padding: 20px;
  right: 0px;
  
}

.logo{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.logo img{
  width: 120px;
  height: auto;
}
  .container{
    position: relative;
  }
  .background img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgb(239, 29, 29);
    opacity: 60%;
  }
  div .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    z-index: -1;
  }
header{
    position: relative;
    /*margin-top: -10%;*/
    height: 40vh;
    width: 100%;
    overflow: hidden;
    z-index: -10;
 }
 header img{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -10;
}
#gambar {
    text-align: center;
    position: relative;
    top: 40px;
  }
 .tim{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .tim div{
    text-align: center;
    width: 26%;
  }
  .tim img{
    width: 100%;
    box-shadow: 0px -2px 30px #a3a3a3;
    border-radius: 5px;
    position: relative;
  }
  .tim img:hover{
    transform: scale(1.20);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }
  
  section h3{
    font-size: 30px;
  }

  
  .blog .area{
    width: 93%;
    box-shadow: 0px -1px 20px #ccc;
    border-radius: 5px;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
    left: 30px;
    top: 175px;
    background-color: #ffffff;
  }
  
  .blog div.area div{
    width: 100%;
    position: center;
    left: 4px;
    top: 10px;
  }
  .blog .area .text article{
    position: relative;
    left: 4px;
    padding: 40px;
  }
  .blog .area .text article{
    padding: 40px;
  }
  .blog .area .text article h3{
    margin: 0px;
  }
  .blog .area .text p{
   
  }
  .boking .area{
    width: 93%;
    box-shadow: 0px -1px 20px #ccc;
    border-radius: 5px;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
    left: 30px;
    top: 200px;
    
  }
  .boking div.area div{
    width: 100%;
    position: center;
    left: 4px;
    top: 10px;
  }
  
  .boking .area .text article{
    position: relative;
    padding: 40px;
  }
  .boking .area .text article h3{
    margin: 0px;
    line-height: 30px;
  }
  p a{
    color: #00a532;
    text-decoration: none;
  }
  .wa p a{
      color: rgb(2, 157, 25);
     
  }
  .tombol{
      background-color: #00a532;
      height: 40px;
      line-height: 42px;
      color: #ffffff;
      text-decoration: none;
      display: inline-block;
      padding: 0px 20px 0px 20px;
      font-size: 15px;
      border-radius: 5px;
      margin-top: 2%;
      top: -30px;
    }
  .tombol:hover{
    background-color: #00bb1c;
  }
  .tombol:active{
    background-color: #ccc;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  footer{
    padding: 50px 0px 50px 0px;
    background-color: #343a40;
    color: #fff;
    position: relative;
    top: 190px;
    
  }
  footer .layar-dalam{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .layar-dalam div{
    width: 20%;
  }
  footer .layar-dalam h5{
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
  }
  footer .layar-dalam .copyright{
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #666;
    text-align: center;
  }
  footer .layar-dalam a{
    text-decoration: none;
    color: #fff;
   }
   footer .layar-dalam img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
   }
   footer .layar-dalam a .text{
    position: relative;
    top: -10px;
   }
   footer .layar-dalam .kontak{
    color: rgb(255, 25, 25);
   }
  .sitemap a{
    text-decoration: none;
    color: #ffffff;
  }
  .sitemap a:hover{
    font-size: 16px;
  }
  .sitemap a:active{
    color: rgb(213, 213, 213);
  }
  .sitemap ul{
    max-height: 100px;
    overflow-x: hidden;
    width: 80px;
    position: relative;
    right: 20px;
  }
  section.abuabu1{
    background-color: #f9f9f9;
  }

  @media screen and (max-width: 991.98px) {
    .layar-dalam{
    width: 90%;
    }
    nav .menu ul{
       display: none;
       margin-top: 60px;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
    }
    nav .menu ul li{
       width: 100%;
       border-bottom: 1px solid #ebebeb;
       background-color: #ffffff;
       line-height: 50px;
    }
    nav .menu ul li a{
       color: black;
    }
    .tombol-menu{
       display: flex;
    }
    .boking .area{
      display: block;
     }
     .boking div.area div{
      width: 100%;
     }
    .blog .area{
     display: block;
    }
    .blog div.area div{
     width: 100%;
    }
    .blog .area .gambar{
     border-radius: 5px 5px 0px 0px;
     height: 200px;
    }
    .support{
     display: block;
    }
    .support div{
     width: 100%;
     padding-bottom: 30px;
    }
    footer .layar-dalam p.kontak{
      font-size: 10px;
       
     }
     iframe{
      width: 300px;
      height: 100px;
     }
     #contact h5{
      font-size: 17px;
     }
     footer .layar-dalam a img{
      margin-left: 20px;
     }
     .blog .area{
      width: 93%;
      box-shadow: 0px -1px 20px #ccc;
      border-radius: 5px;
      justify-content: space-between;
      position: relative;
      flex-direction: row;
      left: 30px;
      top: 335px;
      background-color: #ffffff;
    }
    .boking .area{
      width: 93%;
      box-shadow: 0px -1px 20px #ccc;
      border-radius: 5px;
      justify-content: space-between;
      position: relative;
      flex-direction: row;
      left: 30px;
      top: 360px;
      
    }
    
 }
 

